node_modules
dist
coverage
    .git
    .gitignore
    .vscode
    .env
    .env.*
    Dockerfile *
    docker - compose *.yml
    *.log
npm - debug.log *
    yarn - debug.log *
    yarn - error.log *
    pnpm - debug.log *
