# App
NODE_ENV=production
PORT=3000
JWT_SECRET=replace_with_strong_secret

# Postgres running in docker-compose service 'db'
DATABASE_URL=postgresql://postgres:postgres@db:5432/gymhouse?schema=public

# ChargilyPay
CHARGILY_PAY_SECRET_KEY=replace_me
CHARGILY_PAY_BASE_URL=https://pay.chargily.net/test/api/v2/checkouts
SUCCESS_URL=http://localhost:3000/payments/success
FAILURE_URL=http://localhost:3000/payments/failure
WEBHOOK_ENDPOINT=http://localhost:3000/payments/webhook

# MQTT
BROKER_URL=mqtts://your-broker-host
MQTT_USERNAME=replace_me
MQTT_PASSWORD=replace_me
